@font-face {
    font-family: "JetBrainsMono NF";
    src: url("./ressources/fonts/JetBrainsMonoNLNerdFont-Regular.ttf") format("truetype");
}

.Container {
    text-align: center;
    background-color: aqua;
    padding-top: 50px;
    padding-bottom: 50px;

    border-radius: 15px;

    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%
}

.SmallContainer {
    display: flex;
}

.column {
    flex: 50%;
}

.pfp {
    display: block;
    margin-left: 25px;

    width: 125px;
    height: 125px;

    border-radius: 50%;
}

.Titlename {
    font-family: "JetBrainsMono NF";
    text-align: right;
    margin-right: 25px;

}

.Link {
    background-color: red;
    text-align: left;
    font-family: "JetBrainsMono NF";
    padding-top: 10px;
    padding-bottom: 10px;
}

.LinkLogo {
    width: 5%;
    height: 5%;
    margin-left: 10px;
}